html {
	font-size: 16px;
	font-family: monospace;
}

.container{
	padding-bottom: 36px;
}

.col-sidebar {
	padding-top: 20px;
}

.col-content {
	padding-right: 0px;
	padding-left: 36px;
	margin-left: 36px;
	margin-right: auto;
	width:70%;
}

.col-content ul{
	list-style: disc;
	padding-left: 18px;
}

.col-content ul ul,
.col-content ol ul{
	list-style: circle;
}

.col-content ol ol ul,
.col-content ol ul ul,
.col-content ul ol ul, 
.col-content ul ul ul {
	list-style-type: square;
}

.col-content h1 {
	margin-top: 0;
	padding: 50px 0 20px 0;
	font-family: sans-serif;
}

.logo {
	display: block;
	max-width: 700px;
}

.logo img {
	width: 100%;
	height: 100%;
	border: 10px inset green;
	padding: 5px;
	border-radius: 100%;
}

.nav {
	margin: 36px 72px 36px 72px;
	overflow: hidden;
	list-style: none;
	font-size: 24px;
	background: black;
	border-top-left-radius: 24px;
	border-bottom-right-radius: 24px;
	box-shadow: 3px 2px 3px grey;
}

.nav .icon{
	color:mintcream;
	font-size: inherit;
	font-weight: inherit;
	margin-right: 0px;
	margin-bottom: 20px;
}

.nav .icon:hover{
	color:khaki;
}

.pagination-posts{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}


.pagination-posts li a {
	color: black;
	border-color: black
}

.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: white;
	border-color: black;
}
.pagination-posts li a:hover{
	color:white;
	background-color: green;
	border-color: green;
}


body {
	margin: 0;
	padding: 10px 0px 10px 0px;
}

a {
	color: green;
	text-decoration: underline;
}
a:hover{
	color: #0a1e14;
}

.posts{
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	color: black;
}

.posts nav{
	text-align: center;
}

.posts-title{
	text-align: center;
	font-weight:bold;
}

.post-link {
	text-transform: lowercase;
	display: block;
	padding: 20px 20px;
	margin-bottom: 10px;
	border: 2px solid black;
	border-radius: 4px;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	color:black;
}

.post-link:hover {
	background: black;
	color: white;
}

.post-body {
	line-height: 1.3em;
	max-width: 700px;
	.title{
		padding: 0;
		margin: 0;
		a{
			font-size: $font-size-big;
			color: $link-color;

			i{
				color: $primary-color;
				margin-right: $font-size-small;
			}
		}
		a:hover{
			text-decoration: none;
			color: $hover-color;
		}
	}
}

.post-body img {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

blockquote {
	font-family: consolas,arial,sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 1.5em;
	margin: 2em 0;
	padding: 0 1em;
	border-left: 4px dashed black;
}

pre {
	font-family: inconsolata, consolas, arial;
	display: block;
	padding: 20px 20px;
	margin-bottom: 10px;
	font-size: 0.9em;
	border: 1px solid black;
	border-radius: 4px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

hr {border-top: 1px dashed black; }

table {
	font-family: consolas,arial,sans-serif;
	font-size:16px;
	color:black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-left:36px;
}
table th {
	vertical-align: center;
	text-align: center;
	border-bottom: 1px solid black;
}
table td {
	color: black;
	padding: 8px;
}

video {
	width: 100%;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container.skinny {
	padding-bottom: 43.076923%;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5em;
	background-size: 100% 100%;
}

.icon.blog {
	background-image:url(http://duras.wang/img/blog.png);
}

.icon.info {
	background-image:url(http://duras.wang/img/info.png);
}

.icon.code {
	background-image:url(http://duras.wang/img/code.png);
}

.icon.link {
	background-image:url(http://duras.wang/img/link.png);
}

.icon.twitter {
	background-image:url(http://duras.wang/img/twitter.png);
}

.icon.github {
	background-image:url(http://duras.wang/img/github.png);
}

.icon.home {
	background-image:url(http://duras.wang/img/home.png);
}

.nav a {
	margin-right: 32px;
	margin-bottom: 32px;
	display: block;
	float: left;
	height: 32px;
}

.nav a {
	margin: 21px 0px 18px 23px;
	color: khaki;
	text-decoration: none;
}

.nav a:hover {
	color: gold;
	font-weight: bold;
	font-style: normal;
}

.notfound {
	text-align: center;
	padding-bottom: 36px;
}

.share {
	margin-top: 12px;
	margin-bottom: 12px;
	float: right;
	font-size: 13px;
}

.share a:hover{
	font-style: normal;
	text-decoration: none;
}

.share .icon {
	font-size: 24px;
	color:black;
	margin-right: 0px;
}

.share .icon:hover{
	font-style: normal;
	text-decoration: none;
	color:green;
}

.footer {
	border-top: 1px solid #E2E0DD;
	font-size: 16px;
	padding-top: 16px;
	text-align: center;
	.cent{
		padding-bottom:10px;
	}

	.totop{
		display: none;

		position: fixed;
		height: 40px;
		width: 40px;
		right: 20px;
		bottom: 20px;


		line-height: 40px;
		text-align: center;
		color: $white;

		border-radius: 7px;
		background-color: $gray-light;

		cursor: pointer;

		&:hover{
			background-color: $gray;
		}
	}
}

@media screen and (max-width: 992px) {
	.col-sidebar {
		position: static;
		margin: auto;
		max-width: 52rem;
		padding-right: 0px;
	}

	.col-content {
		margin-top: 64px;
		padding-left: 0px;
		margin-left: auto;
		max-width: 52rem;
		width:100%;
		border-left: none;
	}

	.col-content h1 {
		margin-top: 0;
		padding-top: 10px;
		text-align: center;
	}

	.post-link {
		width: 100%;
	}

	.nav {
		border-radius: 0px;
		font-size: 35px;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0px;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		width: 100%;
		height: 3rem;
		height: 4rem;
		text-align: center;
	}

	.nav a {
		float: none;
		margin: 10px 10px 10px 10px;
	}

	.nav li {
		display: inline-block;
		font-size: 0.7em;
	}

	.logo img {
		display: none;
	}
}

@media screen and (max-width: 540px){
	.nav {
		font-size: 24px;
	}

	.nav .icon{
		margin-bottom: 6px;
	}
	.col-content {
		margin-top: 48px;
	}
}

@media screen and (max-width: 450px){
	.nav a {
		margin-right: 8px;
		margin: 20px 10px 10px 10px;
	}
	.nav .icon{
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 350px){
	.nav {
		font-size: 18px;
	}
}