html {
	font-size: 16px;
	font-family: monospace;
}

.col-sidebar {
	padding-top: 20px;
}

.col-content {
	font-size: 13px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
	width:70%;
}

.col-content h1 {
	margin-top: 0;
	padding: 50px 0 20px 0;
	font-family: sans-serif;
}

.logo {
	display: block;
	max-width: 700px;
}

.logo img {
	width: 100%;
	height: 100%;
}

.nav {
	padding: 0 0 0 72px;
	overflow: hidden;
	list-style: none;
	font-size: 20px;
}

body {
	margin: 0;
	padding: 10px 0px 10px 20px;
}

a {
	color: inherit;
}

.posts{
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	color: black;
	
	.title{
		text-align: center;
		font-size: 100%
		font-weight:bold;
	}
}

.post-link {
	text-transform: lowercase;
	display: block;
	max-width: 450px;
	padding: 20px 20px;
	margin-bottom: 10px;
	border: 2px solid black;
	border-radius: 4px;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	color:black;
}

.post-link:hover {
	background: black;
	color: white;
}

.post-body {
	line-height: 1.3em;
	max-width: 700px;
	.title{
		padding: 0;
		margin: 0;
		a{
			font-size: $font-size-big;
			color: $link-color;

			i{
				color: $primary-color;
				margin-right: $font-size-small;
			}
		}
		a:hover{
			text-decoration: none;
			color: $hover-color;
		}
	}
}

.post-body img {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.post-body a:nth-of-type(4n) {
	color: red;
}

.post-body a:nth-of-type(4n+1) {
	color: magenta;
}

.post-body a:nth-of-type(4n+2) {
	color: blue;
}

.post-body a:nth-of-type(4n+3) {
	color: green;
}

blockquote {
	font-size: 1.2em;
	font-style: italic;
	line-height: 1.5em;
	margin: 2em 0;
	padding: 0 1em;
	border-left: 4px dashed blue;
}

pre {
	display: block;
	padding: 20px 20px;
	margin-bottom: 10px;
	font-size: 0.9em;
	border: 1px solid black;
	border-radius: 4px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#ffffff;
	border-radius: 3px;
	border-width: 1px;
	border-color: #ffffff;
	border-collapse: collapse;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #ffffff;
	background-color: #575757;
}
table td {
	color: #000000;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #ffffff;
	background-color: #ffffff;
}

video {
	width: 100%;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container.skinny {
	padding-bottom: 43.076923%;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5em;
	background-size: 100% 100%;
}

.icon.doc {
	background-image:url(http://duras.wang/img/doc.png);
}

.icon.info {
	background-image:url(http://duras.wang/img/info.png);
}

.icon.code {
	background-image:url(http://duras.wang/img/code.png);
}

.icon.link {
	background-image:url(http://duras.wang/img/link.png);
}

.icon.twitter {
	background-image:url(http://duras.wang/img/twitter.png);
}

.icon.github {
	background-image:url(http://duras.wang/img/github.png);
}

.nav a {
	margin-right: 32px;
	margin-bottom: 32px;
	display: block;
	float: left;
	height: 32px;
}

.nav a {
	color: black;
	text-decoration: none;
}

.nav a:hover {
	color: black;
	font-weight: bold;
	font-style: normal;
}

.footer {
	text-align: center;
	.cent{
		padding-bottom:10px;
	}
	.totop{
		display: none;

		position: fixed;
		height: 40px;
		width: 40px;
		right: 20px;
		bottom: 20px;


		line-height: 40px;
		text-align: center;
		color: $white;

		border-radius: 7px;
		background-color: $gray-light;

		cursor: pointer;

		&:hover{
			background-color: $gray;
		}
	}
}

@media screen and (max-width: 57.25rem) {
	.col-sidebar {
		position: static;
		margin: auto;
		max-width: 52rem;
		padding-right: 0px;
	}

	.col-content {
		margin-left: auto;
		margin-right: auto;
		max-width: 52rem;
	}

	.col-content h1 {
		margin-top: 0;
		padding-top: 10px;
		text-align: center;
	}

	.nav {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 5px;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		width: 100%;
		height: 3rem;
	}

	.nav {
		padding-top: 0.3em;
		height: 4rem;
		text-align: center;
	}

	.nav a {
		float: none;
		margin-bottom: 10px;
		margin-right: 10px;
	}

	.nav li {
		display: inline-block;
		font-size: 0.7em;
	}

	.logo img {
		display: block;
		max-width: 100%;
		margin: 4rem auto 0;
	}
}

@media screen and (max-width: 33.125rem) {
	.logo img {
		max-width: 60%;
	}
}
