---
layout: default
title: 项目
---
<div class="posts">
	<h1 class="posts-title">Moilker橱窗 - 人类的梦想是不会终结的！</h1>
	{% for post in paginator.posts %}{% if post.hidden != true %}<a href="{{ post.url | prepend: site.baseurl}}" class="post-link">{{ post.title }}</a>
	{% endif %}{% endfor %}

	<nav>
		<ul class="pagination pagination-posts">
			{% if paginator.total_pages > 1 %}
			{% if paginator.previous_page %}
			<li>
				<a href="{{ paginator.previous_page_path | prepend: site.url}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
			</li>
			{% endif %}
			{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
			<li class="active"><span>{{ page }}</span></li>
			{% elsif page == 1 %}
			<li><a href="{{ site.url }}">{{ page }}</a></li>
			{% else %}
			<li><a href="{{ site.url}}/page{{ page }}">{{ page }}</a></li>
			{% endif %}
			{% endfor %}
			{% if !paginator.next_page %}
			<li>
				<a href="{{ paginator.next_page_path | prepend: site.url}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
			</li>
			{% endif %}
			{% endif %}
		</ul>
	</nav>
</div>