<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}</title>

	<meta name="keywords" content="{{ page.title }},{% for category in page.categories %}{{ category }},{% endfor %} {% for tag in page.tags %}{{ tag }},{% endfor %},{{ site.keywords }}" />
	<meta name="description" content="{{ page.title }}, {% for category in page.categories %}{{ category }},{% endfor %} {% for tag in page.tags %}{{ tag }},{% endfor %} {% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />


	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- 百度认证 -->
	<meta name="baidu-site-verification" content="J1eVSYCdYT" />
	<meta name="baidu_union_verify" content="2a5dbd750257ed641577aca59a7bb43f">
	<!-- 阿里认证 -->
	<meta name='zyiis_check_verify' content='deb6a7b9be261492f2aa7a7ed702722d'>
	<link rel="apple-touch-img/logo-precomposed" href="{{site.baseurl}}/img/logo.png">
	<link rel="apple-touch-img/logo" href="{{site.baseurl}}/img/logo.png">
	<link rel="apple-touch-img/logo" sizes="72x72" href="{{site.baseurl}}/img/logo.png">
	<link rel="apple-touch-img/logo" sizes="114x114" href="{{site.baseurl}}/img/logo.png">

	<link href="{{site.baseurl}}/img/favicon.ico" rel="shortcut icon">
	<link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/prettify/prettify.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/styles.css" rel="stylesheet" type="text/css">
	<link href="{{site.baseurl}}/css/iconfont/iconfont.css" rel="stylesheet" type="text/css">
	{% include baidu-analysis.html %}

</head>