<head>
  <meta charset="UTF-8">
  <title>{{ site.description }}</title>

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="apple-touch-img/logo-precomposed" href="http://duras.wang/img/logo.png">
  <link rel="apple-touch-img/logo" href="http://duras.wang/img/logo.png">
  <link rel="apple-touch-img/logo" sizes="72x72" href="http://duras.wang/img/logo.png">
  <link rel="apple-touch-img/logo" sizes="114x114" href="http://duras.wang/img/logo.png">

  <link href="{{site.baseurl}}/img/favicon.ico" rel="shortcut icon">
  <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/prettify/prettify.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/styles.css" rel="stylesheet" type="text/css">
  {% include baidu-analysis.html %}
  
</head>