<a href="javascript:share.qq();"><img src="{{site.baseurl}}/img/myLogo/qq.png" alt="qq" /> </a>
<a href="javascript:share.weibo();"><img src="{{site.baseurl}}/img/myLogo/weibo.png" alt="weibo" /> </a>
<a href="javascript:share.weixin();"><img src="{{site.baseurl}}/img/myLogo/wechat.png" alt="wechat" /> </a>
<a href="javascript:share.qzone();"><img src="{{site.baseurl}}/img/myLogo/qzone.png" alt="qzone" /> </a>
<a class="sharetotqq" href="javascript:;"><img src="{{site.baseurl}}/img/myLogo/tqq.png" alt="tqq" /> </a>
<a href="javascript:share.renren();"><img src="{{site.baseurl}}/img/myLogo/renren.png" alt="renren" /> </a>
<a href="javascript:share.douban();"><img src="{{site.baseurl}}/img/myLogo/douban.png" alt="douban" /> </a>
<a href="javascript:share.facebook();"><img src="{{site.baseurl}}/img/myLogo/facebook.png" alt="facebook" /> </a>

<script src="{{site.baseurl}}/js/simple-share.min.js"></script>
<script>
	var share = new SimpleShare({
		url: '',
		title: '',
		content: '',
		pic: ''
	});
	document.querySelector('.sharetotqq').addEventListener('click',function() {
		share.tqq();
	});
</script>