<div class="share">分享到:
	<a href="javascript:share.qq();"><img src="{{site.baseurl}}/img/px16/qq.png" alt="qq" /></a>&nbsp
	<a href="javascript:share.weibo();"><img src="{{site.baseurl}}/img/px16/weibo.png" alt="weibo" /></a>&nbsp
	<a href="javascript:share.weixin();"><img src="{{site.baseurl}}/img/px16/wechat.png" alt="wechat" /></a>&nbsp
	<a href="javascript:share.qzone();"><img src="{{site.baseurl}}/img/px16/qzone.png" alt="qzone" /></a>&nbsp
	<a class="sharetotqq" href="javascript:;"><img src="{{site.baseurl}}/img/px16/tqq.png" alt="tqq" /></a>&nbsp
	<a href="javascript:share.renren();"><img src="{{site.baseurl}}/img/px16/renren.png" alt="renren" /></a>&nbsp
	<a href="javascript:share.douban();"><img src="{{site.baseurl}}/img/px16/douban.png" alt="douban" /></a>&nbsp
</div>

<script src="{{site.baseurl}}/js/simple-share.min.js"></script>
<script>
	var share = new SimpleShare({
		url: '',
		title: '',
		content: '',
		pic: ''
	});
	document.querySelector('.sharetotqq').addEventListener('click',function() {
		share.tqq();
	});
</script>