<div class="share">分享到:
	<a href="javascript:share.qq();"><i class="icon iconfont">&#xe60d;</i></a>
	<a href="javascript:share.weibo();"><i class="icon iconfont">&#xe60f;</i></a>
	<a href="javascript:share.weixin();"><i class="icon iconfont">&#xe611;</i></a>
	<a href="javascript:share.qzone();"><i class="icon iconfont">&#xe60c;</i></a>
	<a class="sharetotqq" href="javascript:;"><i class="icon iconfont">&#xe610;</i></a>
	<a href="javascript:share.renren();"><i class="icon iconfont">&#xe60e;</i></a>
	<a href="javascript:share.douban();"><i class="icon iconfont">&#xe612;</i></a>
</div>

<script src="{{site.baseurl}}/js/simple-share.min.js"></script>
<script>
	var share = new SimpleShare({
		url: '',
		title: '',
		content: '',
		pic: ''
	});
	document.querySelector('.sharetotqq').addEventListener('click',function() {
		share.tqq();
	});
</script>