<a href="/" class="logo"></a>

<ul class="nav">
	<div class="nav-inner">
		<li class="active"><a href="http://duras.wang/"><i class="icon iconfont">&#xe600;</i> 主页 </a></li>
		<li class="active"><a href="{{site.baseurl}}/blog"><i class="icon iconfont">&#xe603;</i> 博客 </a></li>
		<li class="active"><a href="http://duras.wang/project"><i class="icon iconfont">&#xe615;</i> 项目 </a></li>
		<li class="active"><a href="http://duras.wang/about"><i class="icon iconfont">&#xe607;</i> 关于 </a></li>
	</div>
</ul>